

.main {
  margin: 0 auto;
  max-width: 1280px;
}

.profile {
  display: flex;
}

@media screen and (max-width: 890px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 40px 30px 0 calc(100vw/6.4);
}

@media screen and (max-width: 890px) {
  .profile__avatar {
    margin: 42px auto 0;
  }
}

.profile__info {
  margin-top: 40px;
}

@media screen and (max-width: 890px) {
  .profile__info {
    margin: 0 auto;
  }
}

.profile__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: calc(27px + 15*(100vw - 320px)/(1280 - 320));
  line-height: 1.15;
}

@media screen and (max-width: 890px) {
  .profile__name {
    text-align: center;
    padding-top: 26px;
    /*font-size: 27px;
    line-height: 1.22;*/
  }
}

.profile__speciality {
  margin: 0;
  font-weight: 400;
  font-size: calc(14px + 4*(100vw - 320px)/(1280 - 320));
  line-height: 1.37;
  padding-top: 16px;
}

@media screen and (max-width: 890px) {
  .profile__speciality {
    text-align: center;
    padding: 14px 0 36px;
    /*font-size: 14px;
    line-height: 1.21;*/
  }
}

.add-button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  border-radius: 2px;
  padding: 0;
  background: #000000;
  align-self: center;
  margin-left: auto;
  margin-right: calc(100vw/6.4);
  border: 2px solid #FFFFFF;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 890px) {
  .add-button {
    margin: 0 auto;
    width: calc(100% - (100vw/6.4));
  }
}

@media screen and (max-width: 320px) {
  .add-button {
    width: calc(90% - 6px);
  }
}

.add-button__icon {
  background-image: url('./images/Vector_add_button.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 22px;
  height: 22px;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
}

.elements {
  max-width: 1280px;
  margin: 0 auto;

}

.element-list {
  padding: 0;
  margin: 50px 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 282px));
  gap: 20px 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .element-list {
    grid-template-columns: repeat(2, minmax(min-content, 282px));
  }
}

@media screen and (max-width: 690px) {
  .element-list {
    grid-template-columns: repeat(1, minmax(min-content, 282px));
  }
}

.element-list__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  overflow:hidden;
  display: grid;
  grid-template-areas:
    "image image"
    "title icon";
  align-items: center;
}

.element-list__image {
  grid-area: image;
  grid-column: span 2;
  max-width: 282px;
  max-height: 282px;
  object-fit: cover;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.element-list__title {
  grid-area: title;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  padding: 25px 0 31px 21px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.element-list__icon {
  grid-area: icon;
  justify-self: end;
  background-image: url('./images/Vectorheart.svg');
  background-repeat: no-repeat;
  height: 19px;
  width: 22px;
  padding-right: 15px;
}

.footer {
  max-width: 1280px;
}

.footer__author {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding: 66px 0 60px;
}

.footer__author::before {
  content: '\A9';
}
